page-blog {
  
  .datetime {
    font-size: 10px;
    color: #a3a3a3;
    float: right;
  }
  .publisher {
    font-size: 10px;
    color: #a3a3a3;
    position: absolute;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
  }
  .arrow-right{
    float: right;
    font-size: 25px;
    padding-top: 16px;
  }
}
