page-blog-detail {
  .background-image {
    // background-image: url();
    background-size: cover;
    background-position: center;
    height: 50vw;
  }
  .main-content {
    padding: 20px;
    background-color: white;
    position: absolute;
  }
}
